#privacyContainer {
    margin-inline: 15vw;
}

#privacyHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.privacySpacer {
    margin-block: 2.25vh;
}