#signInContainer {
    margin-block: 27.5vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signInForm {
    display: flex;
    flex-direction: column;
    padding-block: 5vh;
    padding-inline: 2.5vw;
    background-color: rgb(222,139,135);
}

#submitSignIn {
    margin-top: 2.5vh;
}

#signInWithGoogle {
    margin-top: 2.5vh;
    display: flex;
    align-items: center;
}

#google {
    height: 5vh;
}